@mixin clearfix {
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}


@mixin pseudo {
    
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
    }
}