@mixin clearfix {
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}


@mixin pseudo {
    
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
    }
}

// Hardcoded breakpoints
@mixin respond-phone {
    @media (max-width: 600px) {
        @content;
    }
}

// Recieves breakpoint
@mixin respond-at ($breakpoint-value) {
    @media (max-width: $breakpoint-value){
        @content;
    }
}


// MEDIA QUERY MANAGER - with Multiple breakpoints
/* 

    0 - 600px:              Phone
    600px - 900px:          Tablet-Portrait
    900px - 1200px:         Tablet-Landscape
    [1200px - 1800px]:      is where our normal styles apply
    1800px + :              Big Desktop

    $breakpoint argument choices
    -phone
    -tab-port
    -tab-land
    -big-desk

ORDER: Base + typography > General Layout + Grid > Page Layout > Components
    
*/

// "em" units are used instead of "rem" as they are more effective in this case
// 1em = 16px

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media (max-width: 37.5em){     // 600px 
            @content;
        }
    }    
    
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em){      // 900px
            @content;
        }
    }    
    
    @if $breakpoint == tab-land {
        @media (max-width: 75em){       // 1200px
            @content;
        }
    }    

    @if $breakpoint == big-desk {
        @media (min-width: 112.5em){    // 1800px
            @content;
        }
    }    

}