.composition{
    position: relative;

    &__photo{
        
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        outline-offset: 1.5rem;
        transition: all .2s ease;

        &--p1{
            top: -2rem;
            left: 0;
        }
        &--p2{
            top: 3rem;
            right: 0;
        }
        &--p3{
            top: 10rem;
            left: 20%;
        }

        &:hover{
            outline: 1.5rem solid $color-primary;
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.5);
            transform: scale(1.05) translateY(-.5rem);
            z-index: 20;
        }

    }

    // When composition is hovered, select the child-photo which is NOT hovered
    &:hover &__photo:not(:hover){
        transform: scale(.95) translateY(.5rem);
        filter: grayscale(1);
    }
    
}