.form{

    // display: flex;
    // flex-direction: column;
    
    &__group{

        &:not(:last-child){
            margin-bottom: 2rem;
        }

        @include clearfix; // One of the form__group contains floated elements

    }
    
    &__input{
        font-family: inherit;
        font-size: 1.5rem;
        // color: rgba( $color-black, .8 );
        color: inherit;
        // letter-spacing: .1rem;
        border: none;
        background: rgba( $color-white, 0.9 );
        padding: 1.5rem 2rem;
        width: 90%;
        border-radius: 3px;
        border-bottom: 3px solid transparent;
        transition: all .2s ease;
        
        outline: none;
        box-shadow: none;
        
        &:focus{
            border-color: $color-primary;
            box-shadow: .5rem 1.2rem 1.5rem rgba( $color-black, 0.15 );
            transform: scale(1.02);
        }
        
        &::placeholder{
            transition: all 1s ease;
        }

        // Invalid styles only when field is focussed
        &:focus:invalid{ 
            border-color:$color-secondary-dark;
        }

    }

    &__label{
        display: block;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s ease;
        color: $color-primary-dark;

        transform: translate(-2rem, -8rem);
        opacity: 1;
        visibility: visible;
    }

    // Label styles untill Something is written
    &__input:placeholder-shown + &__label{
        transform: translate(0rem,-8rem);
        opacity: 0;
        visibility: hidden;
        
    }

    &__radio-group{
        width: 50%;
        // display: inline-block;
        float: left;
        
    }

    &__radio-input{
        // visibility: hidden;
        display: none;
    }

    &__radio-label{

        font-size: 1.4rem;
        cursor: pointer;
        position: relative;


        padding-left: 3.5rem;
        @include pseudo;

        // Radio-button Container
        &::before{
            width: 2.5rem;
            height: 2.5rem;
            border: 2.5px solid $color-primary;
            border-radius: 50%;
            left: 0;
            top: -.4rem;
        }
        
        
    }

    &__radio-input:not(:checked) + &__radio-label{
        color: rgba($color-black, .4);
    }
    
    // Radio-button Seclector Styles only for checked
    &__radio-input:checked + &__radio-label::after{
        width: 1.5rem;
        height: 1.5rem;
        background-color: $color-primary;
        // border: 2.5px solid $color-primary;
        border-radius: 50%;
        left: .5rem;
        top: .1rem;

    }
    


    // &__radio-button{} 
    // Used the pseudo classes as ALTERNATIVE
    
    
}