.popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba( $color-black , 0.85 );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    // display: none;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    
    &__content{
        display: table;
        width: 70%;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(.25);
        border-radius: 3px;
        overflow: hidden;
        color: $color-grey-dark;
        opacity: 0;
        transition: all .4s ease .2s ; 
        
    }

    &__left{
        display: table-cell;
        width: 33.33%;
        height: 100%;
    }

    &__right{
        display: table-cell;
        width: 66.67%;
        padding: 5rem;
        vertical-align: middle;
    }

        
    &__img{
        display: block;
        width: 100%;
        // height: 50%;
    }

    &__text{
        font-size: 1.4rem;        
        column-count: 2;
        column-gap: 4rem;
        column-rule: 2px solid $color-grey-light-2;
        hyphens: auto;
    }


    // FUNCTIONALITY
    
    &:target{
        visibility: visible;
        opacity: 1;

    }

    &__close{

        &:link,
        :visited{
            text-decoration: none;
            color: inherit;
            font-size: 4rem;
            line-height: 1;
            transition: all .2s ;
            cursor: pointer;
            position: absolute;
            top: 2rem;
            right: 3rem;
        }

        
        &:hover{
            color: $color-primary;
        }
    }

    &:target &__content{
        transform: scale(1) translate(-50%,-50%) ;
        transform-origin: center;;
        opacity: 1;
    }

    // &__media{}
    
}