
body{
    font-family: 'Lato', 'Raleway','Montserret', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;

}



.heading-primary{
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 6rem;
    backface-visibility: hidden;
    /* Removes the jerk with animations */

    
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInRight .6s ease-in ;
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        word-spacing: 1.5rem;
        animation: moveInLeft .6s ease-in ;
    }
    
}

.heading-secondary{

    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark) ;    
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all .2s ease;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
        // transform-origin: center;
    }
    
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
    
}